Repository dacq-trap/dacq, changes with the labels that .github/labeler.yaml gives for each.
All labels: client, server, schema, actions

.github/labeler.yaml:

client:
  - client/**
server:
  - server/**
schema:
  - schema/**
actions:
  - .github/workflows/**

added `POST /competitions`
  schema/openapi/paths/competitions/index.yaml
Labels: schema

format
  schema/openapi/openapi.yaml
Labels: schema

fixed schema & comment
  schema/openapi/paths/competitions/competitionId.yaml
Labels: schema

added `PATCH /competitions/{competitionId}`
  schema/openapi/paths/competitions/competitionId.yaml
Labels: schema

make dataId nullable
  schema/openapi/common/competition.yaml
Labels: schema

changed schema
  schema/openapi/paths/competitions/competitionId.submissions.yaml
Labels: schema

added `PUT /competitions/{competitionId}/data`
  schema/openapi/openapi.yaml
  schema/openapi/paths/competitions/competitionId.data.yaml
Labels: schema

fixed patch endpoint response
  schema/openapi/paths/competitions/competitionId.yaml
  schema/openapi/paths/teams/teamId.yaml
Labels: schema

fixed comments
  schema/openapi/paths/competitions/competitionId.data.yaml
Labels: schema

created Authors api group
  schema/openapi/openapi.yaml
  schema/openapi/paths/competitions/competitionId.answer.yaml
  schema/openapi/paths/competitions/competitionId.data.yaml
  schema/openapi/paths/competitions/competitionId.yaml
  schema/openapi/paths/competitions/index.yaml
Labels: schema

added `PUT /competitions/{competitionId}/answer`
  schema/openapi/openapi.yaml
  schema/openapi/paths/competitions/competitionId.answer.yaml
Labels: schema

fixed comment
  schema/openapi/paths/teams/merge.yaml
Labels: schema

fixed MR schema
  schema/openapi/common/mergeRequest.yaml
Labels: schema

enabled merge decline
  schema/openapi/openapi.yaml
  schema/openapi/paths/teams/merge.accept.yaml
  schema/openapi/paths/teams/merge.vote.yaml
Labels: schema

fixed MD format
  schema/openapi/paths/competitions/competitionId.submissions.yaml
  schema/openapi/paths/competitions/competitionId.teams.yaml
Labels: schema

added `POST /teans/merge/accept`
  schema/openapi/openapi.yaml
  schema/openapi/paths/teams/merge.accept.yaml
Labels: schema

fixed submission description
  schema/openapi/common/submission.yaml
Labels: schema

defined competition schema for authors
  schema/openapi/common/competitionForAuthor.yaml
Labels: schema

changed authors API path & added GET APIs
  schema/openapi/openapi.yaml
  schema/openapi/paths/authors/competitionId.answer.yaml
  schema/openapi/paths/authors/competitionId.data.yaml
  schema/openapi/paths/authors/competitionId.yaml
  schema/openapi/paths/authors/index.yaml
  schema/openapi/paths/competitions/competitionId.yaml
  schema/openapi/paths/competitions/index.yaml
Labels: schema

fixed filepath of authors api
  schema/openapi/openapi.yaml
  schema/openapi/paths/authors-competitions/competitionId.answer.yaml
  schema/openapi/paths/authors-competitions/competitionId.data.yaml
  schema/openapi/paths/authors-competitions/competitionId.yaml
  schema/openapi/paths/authors-competitions/index.yaml
Labels: schema

deleted example
  schema/openapi/paths/authors-competitions/competitionId.answer.yaml
  schema/openapi/paths/competitions/competitionId.submissions.yaml
Labels: schema

fixed field name
  schema/openapi/paths/teams/merge.vote.yaml
Labels: schema

added teamId parameter
  schema/openapi/openapi.yaml
  schema/openapi/paths/teams/teamId.merge.vote.yaml
Labels: schema

読み込みパスの修正
  schema/openapi/openapi.yaml
Labels: schema

更新されたOpenAPIがクライアントのコード生成に使える形式かを調べるactionsを追加した
  .github/workflows/openapi.yaml
Labels: actions

openapi-lintのevent_nameの設定を変更
  .github/workflows/openapi.yaml
Labels: actions

actions上でspectralを普通に実行するようにした
  .github/workflows/openapi.yaml
Labels: actions

キャッシュ指定を削除
  .github/workflows/openapi.yaml
Labels: actions

spectarlインストール時のオプションを変更
  .github/workflows/openapi.yaml
Labels: actions

markdown以外の修正
  client/src/pages/competitions/[id].tsx
Labels: client

markdown-it-prismをインポートするとFailed to compileが出る
  client/package-lock.json
  client/package.json
  client/src/pages/_app.tsx
  client/src/pages/competitions/[id].tsx
Labels: client

next-global-cssを使ってworkaroundの対処をした
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/src/components/markdown.tsx
  client/src/pages/_app.tsx
  client/src/pages/competitions/[id].tsx
Labels: client

prepared server CI action
  .github/workflows/server.yml
Labels: actions

added default working directory
  .github/workflows/server.yml
Labels: actions

fixed working directory statement
  .github/workflows/server.yml
Labels: actions

fixed lint error
  server/util/optional/optional_test.go
Labels: server

define user service
  server/service/user.go
Labels: server

define user repository
  server/repository/user.go
Labels: server
