Repository dacq-trap/dacq, pull requests merged in 2022-06, with the labels that each got.

#47 PRに対しラベルを付与するactionsを追加
  .github/labeler.yaml
  .github/workflows/label.yaml
Labels: actions

#51 更新されたOpenAPIがクライアントのコード生成に使える形式かを調べるactionsを追加した
  .github/workflows/openapi.yaml
Labels: actions

#53 actions上でspectralを普通に実行するようにした
  .github/workflows/openapi.yaml
Labels: actions

#55 Userに関するインターフェースを定義
  server/repository/user.go
  server/service/user.go
Labels: server

#45 コンペ詳細画面の実装
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/src/components/competitionPageBase.tsx
  client/src/components/markdown.tsx
  client/src/pages/competitions/[id].tsx
  client/src/pages/competitions/[id]/leaderboard.tsx
  client/src/pages/index.tsx
Labels: client

#56 Users Interfaceの拡充
  .github/workflows/server.yml
  server/go.mod
  server/go.sum
  server/model/error.go
  server/repository/user.go
  server/router/router.go
  server/router/users/me.go
  server/router/users/users.go
  server/service/user.go
  server/service/v1/user.go
Labels: server, actions

#57 サービス層のユーザー関係の関数を追加
  server/service/v1/users.go
Labels: server

#59 context.Contextを使う
  server/repository/users.go
  server/router/users/me.go
  server/service/users.go
  server/service/v1/users.go
Labels: server

#62 セッションのUserNameの取得方法の修正
  server/router/users/me.go
Labels: server
